
cursor = self.conexao_banco.cursor(.txt
import mysql.connector(antigo).txt
*.m4a
*.pyc
*.zip
*.toc
*.pyz
Youtube_V2/build/Youtube_V2.1/warn-Youtube_V2.1.txt
Youtube_V2/build/Youtube_V2.1/xref-Youtube_V2.1.html
*.pkg
*.spec
